.mobileResponsive-pt20 {
  padding-top: 20px;
}
.mobileResponsive-lh0 {
  line-height: 0px;
}
.mobileResponsive-mb0 {
  margin-bottom: 0px;
}
#responsiveFontSize h2.secondColumn {
  padding-bottom: 80px; padding-top: 80px; 
}

#responsiveFontSize h2 {
/*  margin: 15px;*/
}

#responsiveFontSize a.btn {
  margin-top: 100px;
}

#responsiveFontSize button {
/*  line-height: 0; padding-bottom: 125px; padding-top: 125px; */
}
#responsiveFontSize button h2 {
  font-size: xx-large;
/*  line-height: 0;*/
line-height: normal;
  text-align: center;
}

#responsiveFontSize .well {
  background: none;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  border: 0;
  box-shadow: none;
}

#responsiveFontSize .well .label-danger {
  background-color: #eb008b;
}

#responsiveFontSize .well button {
  text-transform: uppercase;
}

@media (max-width: 1200px) {
  #responsiveFontSize .col-md-4 {
    width: 100%;
  }
  #responsiveFontSize button {
    padding: 0;
  }
  #responsiveFontSize a.btn {
    margin-top: 0;
  }
}
@media (max-width: 1200px) {
  #responsiveFontSize h2.secondColumn {
    padding: 10px;
  }

  #responsiveFontSize button {
    margin-top: 20px;
  }  

}
@media (min-width: 1201px) {
  #responsiveFontSize h2 {
    margin-top: 50px; margin-bottom: 50px;line-height: 0; font-size: 33px;
    padding-bottom: 0;
    padding-top: 0;
  }
  .rotation {
    margin-left: -133px;
    -webkit-animation:spin 1s forwards;
    -moz-animation:spin 1s forwards;
    animation:spin 1s forwards;
    transform-origin: bottom left;
    animation-timing-function: ease;
  }
  .rotationBack {
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}
@media (max-width: 1200px) and (min-width: 771px) {
  .rotation {
    text-align: center;
    margin-left: -60px;
    -webkit-animation:spin 1s forwards;
    -moz-animation:spin 1s forwards;
    animation:spin 1s forwards;
    transform-origin: bottom left;
    animation-timing-function: ease;
  }
  .rotationBack {
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}
.grey-bg {
  background-image: linear-gradient(to left, #009ee2, #43bdd5);
}
@media (max-width: 770px) and (min-width: 411px) {
  .rotation {
    text-align: center;
    margin-left: 10%;
  }
  #footer .col-md-8 {
    text-align: center;
  }
  #responsiveFontSize h2.secondColumn {
    padding: 0;
  }
#responsiveFontSize button {
/*  line-height: 0; padding-bottom: 90px; padding-top: 90px; */
}
}
@media (max-width: 410px) {

  .mobileResponsive-pt20 {
    padding-top: 0;
  }
  .mobileResponsive-lh0 {
    line-height: 30px;
  }
  .mobileResponsive-mb0 {
    margin-bottom: 50px;
  }
  .sliderContainer {
    display: none;
  }

  #responsiveFontSize h2 {
    font-size: 27px;
    padding: 0;
  }
  #responsiveFontSize button {
    padding: 0;
  }

  #responsiveFontSize .well {
    padding: 0;
  }

  #resoDevisBtn {
    margin-top: 20px;
  }
  .panels h3{
    font-size: 20px;
  }
  .panels h1{
    font-size: 26px;
  }
  .row {
    margin: 0;
  }
  .panel-heading p {
    display: block;
  }
  .partenaire .grey-content {
    padding: 0;
  }
  #footer .col-xs-6 {
    padding: 0;
    width: 100%;
    white-space: nowrap;
  }
}